.seating {
  background-color: #2D2D2D;
  padding: 20px;
}
.admin-seating {
  background-color: #fff;
  padding: 10px;
}
.standard-seating {
  background-color: #00BF96;
  padding: 10px;
}
.regular_table {
  display: inline-block;
  margin-right: 40px;
  margin-top: 2rem;
  width: 40px;
}
.regular_row {
  height: 18px;
}
.admin_seat {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 1px;
  background-color: #5F5F5F;
  cursor: pointer;
}
.regular_seat {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 1px;
  background-color: #00BF96;
  cursor: pointer;
}
.regular_seat:hover {
  background-color: #222222;
  box-shadow: 0px 0px 1px 2px #fff;
}
.admin_row, .regular_wrapper {
  display: table;
  margin: 0 auto;
}
.seat_info {
  margin-top: 30px;
  position: absolute;
  background-color: #030303;
  width: 175px;
}
.admin_hovered {
  background-color: #222222;
  box-shadow: 0px 0px 1px 2px #fff;
}
.regular_hovered {
  background-color: #222222;
  box-shadow: 0px 0px 1px 2px #fff;
}
.taken {
  background-color: #5F5F5F;
}