@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "components/EventView.scss";
@import "components/Login.scss";
@import "components/Register.scss";

body {
  background-color: #232324;
}
.parallax {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100% !important;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.mobile .parallax,
.tablet .parallax {
  background-position: 50% 0 !important;
  background-size: cover;
}
.parallax1 {
  background-color: #FFF;
  background-image: url("https://i.imgur.com/tiUSWW3.jpg");
}
@media (max-width: 767px) {
  .parallax {
    background-position: center 0 !important;
    background-size: cover;
  }
}
.parallax .container {
  padding: 140px;
  color: #fff;
}
.navbar, .open, .dropdown-menu, .dropdown-item, .dropdown-item:hover .dropdown-menu:hover, .dropdown-menu>li>a:hover, .navbar-default .navbar-nav>.open>a {
  background-color: #161617 !important;
  color: #fff;
  background-image: none;
  border: none;
  box-shadow: none;
  background-radius: 0;
  margin-bottom: 0;
}
.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  li, a {
    color: #fff !important;
  }
}
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif !important;
  color: #fff;
}
p, li, span, a {
  /*font-family: 'Roboto Slab', serif !important;*/
  font-family: 'Montserrat', sans-serif !important;
  color: #fff;
}
.camera_info {
  position: absolute;
  color: #fff;
  margin-left: 5rem;
}
#calendar {
  background-color: #fff;
}
.top-bar {
  background-color: #2D2D2D;
}
.user_panel:hover {
  background-color: #161617;
}
.bottom {
  margin-top: 1rem;
}
.dropdown-menu>li>a {
  color: #fff;
}
.top-bar {
  height: 50px;
}
.user_panel {
  height: 100%;
  padding-top: 10px;
}
#user_panel {
  width: 100%;
  height: 100%;
}
.validation-alert {
  padding: 5px;
  margin-bottom: 1rem;
  background-color: red;
  width: 100%;
  color: #fff;
}