body {
  background-color: #232324;
}
.parallax {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100% !important;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.mobile .parallax,
.tablet .parallax {
  background-position: 50% 0 !important;
  background-size: cover;
}
.parallax1 {
  background-color: #FFF;
  background-image: url("http://i.imgur.com/tiUSWW3.jpg");
}
@media (max-width: 767px) {
  .parallax {
    background-position: center 0 !important;
    background-size: cover;
  }
}
.parallax .container {
  padding: 140px;
  color: #fff;
}
.navbar {
  background-color: #161617;
  color: #fff;
  background-image: none;
  border: none;
  box-shadow: none;
  background-radius: 0;
  margin-bottom: 0;
}
.navbar-nav {
  float: none;
  margin: 0 auto;
  display: table;
  li, a {
    color: #fff !important;
  }
}
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif !important;
  color: #fff;
}
p, li, span, a {
  /*font-family: 'Roboto Slab', serif !important;*/
  font-family: 'Montserrat', sans-serif !important;
  color: #fff;
}
.camera_info {
  position: absolute;
  color: #fff;
  margin-left: 5rem;
}